.hero-container {
    text-align: center;
    
    padding: 60px 20px;
    background-color: #f5f8fa;
     /* Placeholder for background image */
    background-size: cover;
    background-position: center;
    height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  
  .hero-title {
    font-size: 2.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
  }
  
  .hero-button {
    background-color: #17c2aa;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero-button:hover {
    background-color: #15a698;
  }