.Beelinx-section {
    background-color: white ; /* Match the dark background */
    color: #121330;
    padding: 50px 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .section-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .features-grid {
    display: flex;
    gap: 20px;
    justify-content: center; /* Center the cards horizontally */
    flex-wrap: nowrap; /* Prevent the cards from wrapping onto new lines */
  }
  
  .feature-card {
    background-color: #ebfff6;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 33%; /* Ensure each card takes up 33% of the width */
    max-width: 33%; /* Prevent the cards from growing beyond 33% */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #ffffff;
    height: 480px;
    overflow: hidden;
  }
  
  .feature-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .feature-description {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .feature-link {
    color: #00ff8c; /* Match the green accent color */
    text-decoration: none;
    font-weight: bold;
  }
  
  .feature-icon-EnterprisesCards {
    display: block;
    margin: 0px ;
   width: 300px;
   height: auto;
   justify-content: center;
   align-items: justify;
object-position: left;
margin-top: 100px;
  }
  