.carousel {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: #e1f3ed;
    margin-left: 50px;
    margin-right:50px;
    height:500px;
    text-align: left;
  }
  
  .carousel-slide {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .carousel-slide.active {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }
  
  .text-section {
    max-width: 50%;
  }
  
  .text-section h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .text-section .description {
    font-size: 1rem;
    color: #6b7280;
    margin-bottom: 2rem;
  }
  
  blockquote {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1rem;
  }
  
  .author {
    font-size: 1rem;
    color: #6b7280;
  }
  
  .logo {
    margin-top: 1rem;
    width: 60px;
  }
  
  .actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .video-button,
  .read-more {
    border: none;
    background: none;
    color: #2563eb;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }
  
  .image-section img {
    max-width: 100%;
    border-radius: 10px;
    
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    color: #6b7280;
    cursor: pointer;
  }
  
  .prev-button {
    left: 1rem;
  }
  
  .next-button {
    right: 1rem;
  }
  
  .prev-button:hover,
  .next-button:hover {
    color: #2563eb;
  }
  